.time{

    font-size: 4rem;
    font-weight: 600;
}
.Greeting{

    font-size: 2rem;
    font-weight: 600;       
    font-style: italic;
}
.container{

    background-color: white;
    padding: 16px;
    max-height: 480px;
    overflow-y: scroll;
    display: block;
    
}